:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #f2f3f5;
  color: #fff;
  font-size: 14px;
}

#app {
  min-width: 320px;
  height: 100vh;
}

.wrapper {
  padding: 20px 10%;
}
input {
  height: 22px;
}
button {
  padding: 1px 5px;
  cursor: pointer;
}

/* 自定义标签 */
red {
  color: red;
}
green {
  color: green;
}
yellow {
  color: yellow;
}

@font-face {
  font-family: number;
  src: url('@/assets/font/UnidreamLED.otf');
}

@media screen and (max-width: 820px) {
  header .aside {
    width: 36px !important;
  }
  .wrapper {
    padding: 20px;
  }
  .art-item {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}
@media screen and (max-width: 620px) {
  .widget {
    display: none;
  }
}