// color
@white-color-1: #fff;
@white-color-2: #f2f3f5;

@black-color-1: #000;
@black-color-30: rgba(0, 0, 0, 0.3);

@red-color-1: red;

@orange-color-1: #ff9800;

@yellow-color-1: yellow;

@green-color-1: green;

@blue-color-1: #304156;

@cyan-color-1: #00c7ff;
@cyan-color-2: #9bd6e6;

@purple-color-1: #646cff;
@purple-color-2: #d9d9f3;
@purple-color-3: #9ea3f9;

// size
@size-header-icon: 36px;
@size-header-height: 60px;

// font-size
@fsize-1: 12px;
@fsize-2: 14px;
@fsize-3: 16px;

// styles
@linear-1: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);